<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<iink rel="style-sheet" href="/resources/css/reset.css">

<style>

header {
    border: 1px gold solid;
    height: 100px;
    width: 100%;
}






</style>

</head>
<body>
    <header class="wrap_left ">
        <div class-="left_logo">
        <img src="/resources/images/kb_logo.png" alt="" srcset="">       
    </div>
        <div class="right menu"></div>
    </header>
        <section class="wrap_left contents">
        <nav class="left contents_left">
            <ul>
                <li> <a href="#" >상품</a></li>
                <li> <a href="#" >계좌</a></li>
            </ul>
        </nav>
        <div class="right contents_right"></div>
    </section>
    <main>
        <section class="quick menu">
            <ul>
                <li> <a href="#" >회원가입</a></li>
                <li> <a href="#" >상품조회</a></li>
                <li> <a href="#" >로그인</a></li>
            </ul>
        </section> 
            <div class = "banner">
                <img src="/resources/images/main_banner_230731.png">
                </div>
    </main>
    <footer>
        <footer class="wrap_left">
        <div class ="left footer_left"></div>
        <div class="right footer_right"></div>
        
        <p>&COPY; Copyright KB Kookmin Bank. All Rights Reserved. </p>
    </footer>
</body>
</html>

