<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet_App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>encode</filter-name>
  <filter-class>com.winter.app.filters.EncodingFilter</filter-class>
 </filter>
	<filter-mapping>
<filter-name>encode</filter-name>
<url-pattern>/*</url-pattern>
</filter-mapping>  
<!-- 배포서술자 DD -->
 
 <servlet>
 <servlet-name>users</servlet-name>
 <servlet-class>com.winter.app.users.UserController</servlet-class>
 </servlet>
 
 <servlet-mapping>
 		<servlet-name>users</servlet-name>
 		<url-pattern>/users/*</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>products</servlet-name>
 <servlet-class>com.winter.app.products.ProductController</servlet-class>
 </servlet>
 
 <servlet-mapping>
	<servlet-name>products</servlet-name> 
	<url-pattern>/products/*</url-pattern>
</servlet-mapping>
 
 <servlet>
 <servlet-name>accounts</servlet-name>
 <servlet-class>com.winter.app.accounts.AccountController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>accounts</servlet-name>
  <url-pattern>/accounts/*</url-pattern>
  
  </servlet-mapping>
<servlet>
 <servlet-name>homeController</servlet-name>
 <servlet-class>com.winter.app.HomeController</servlet-class>
 </servlet>
 
 <servlet-mapping>
 		<servlet-name>homeController</servlet-name>
 		<url-pattern>/index.do</url-pattern>
 </servlet-mapping>

</web-app>